<!DOCTYPE html>

html(lang="en")
    
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../style/chat.css
            include ../style/default.css
        title Chat
        script(type='text/javascript', src="https://code.jquery.com/jquery-3.5.1.js")
    body
        div(id="leftNav" class="leftBox")
            div(id="leftTitle" class="matchesTitle")
                h3 Chats
            div(id="matches" class="matchesBox")
                    div(class="chat")
                        h4(id="user1" class="username") Nosy
                        p(class="latestChat") latest message
                    div(class="chat")
                        h4(id="user2" class="username") PC
                        p(class="latestChat") latest message
        div(id="bodyDiv" class="displayBody")
            div(id="chatmid")
                div(id="chatDisplay")
                    p(class="sent message") message
                    p(class="sent message") message
                    p(class="received message") message
                    p(class="sent message") message
                    p(class="received message") message
                    p(class="received message") message
                form(id="chatMessage" class="chatForm")
                    input(id="chatInput" type="text" class="chatInput" required)
                    button(id="chatSubmit" type="submit" class="chatSubmit") Send
        script
              include ../scripts/chats.js
        
