doctype html
html
    head
        title Email Sent
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        style
            include ../style/default.css
            
    body
        header(class="custom-header")
            div(class="cl-white text-center custom-font") Endless Horizon
    
        main.inner.cover.text-center.custom-container
            h1.cover-heading.cl-white An email has been sent to validate your account
            img(class="mb-4" src="https://data.whicdn.com/images/299576881/original.gif" , alt="uwu")

        footer(class="custom-footer")
            div(class="footer-copyright text-center py-3 cl-white") © 2020 Copyright: Endless Horizon
                p.footer-margin Find us More on:
                i.fa.fa-facebook-official.w3-hover-opacity.cl-white
                i.fa.fa-instagram.w3-hover-opacity.cl-white
                i.fa.fa-snapchat.w3-hover-opacity.cl-white
                i.fa.fa-pinterest-p.w3-hover-opacity.cl-white
                i.fa.fa-twitter.w3-hover-opacity.cl-white
                i.fa.fa-linkedin.w3-hover-opacity.cl-white