doctype html
html
    head
        title Sign-Up
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    body
        div(class="center-text log-flex")
            form(class="form-signup" action="/user/register" method="POST")
                h1(class="h3 mb-3 font-weight-normal text-center") Account Creation
                div(class="mb-3")
                    label(for="name") Name
                    div(class="input-group")
                        input(type="text" class="form-control" name="name" placeholder="Name" required)
                        div(class="invalid-feedback")
                            Your name is required
                div(class="mb-3")
                    label(for="surname") Surname
                    div(class="input-group")
                        input(type="text" class="form-control" name="surname" placeholder="Surname" required)
                        div(class="invalid-feedback")
                            Your surname is required
                div(class="mb-3")
                    label(for="username") Username
                    div(class="input-group")
                        input(type="text" class="form-control" name="username" placeholder="Username" required)
                        div(class="invalid-feedback")
                            Your username is required
                div(class="mb-3")
                    label(for="email") Email
                    div(class="input-group")
                        input(type="email" class="form-control" name="email" placeholder="EndlessHorizon@example.com" required)
                        div(class="invalid-feedback")
                            Your email is required
                div(class="mb-3")
                    label(for="password") Password
                    div(class="input-group")
                        input(type="password" class="form-control" name="password" placeholder="Insert Password Senpai" required)
                        div(class="invalid-feedback")
                            Your password is required
                div(class="mb-3")
                    label(for="passwordconfirm") Password Confirm
                    div(class="input-group")
                        input(type="password" class="form-control" name="passwordconfirm" placeholder="Hint Hint *****" required)
                        div(class="invalid-feedback")
                            Your password does not match
                div(class="mb-3")
                    label(for="address") Address
                    div(class="input-group")
                        input(type="text" class="form-control" name="address" placeholder="1 Endless Horizon Avenue" required)
                        div(class="invalid-feedback")
                            Your email is required
                div(class="mb-3")
                    label(for="dob")
                    div(class="input-group")
                        input(type="date" class="form-control" name="dob" placeholder="I is Born!" required)
                        div(class="invalid-feedback")
                            Your Date of Birth is required
                div(class="mb-3")
                    label(for="gender") Gender
                    div(class="custom-control radio pad-zero")
                        label(class="custom-cotrol-label" for="male") Male
                            input(type="radio" class="" name="male" required)
                    div(class="custom-control radio pad-zero")
                        label(class="custom-cotrol-label" for="female") Female
                            input(type="radio" class="" name="female" required)
                button(class="btn btn-primary btn-lg btn-block" type="submit") Register