body
    div(className="center-text log-flex")
        form(className="form-signup")
            h1(className="h3 mb-3 font-weight-normal text-center") Account Creation
            div(className="mb-3")
                label(for="name") Name
                div(className="input-group")
                    input(type="text" className="form-control" id="name" placeholder="Name" required)
                    div(className="invalid-feedback")
                        Your name is required
            div(className="mb-3")
                label(for="surname") Surname
                div(className="input-group")
                    input(type="text" className="form-control" id="surname" placeholder="Surname" required)
                    div(className="invalid-feedback")
                        Your surname is required
            div(className="mb-3")
                label(for="username") Username
                div(className="input-group")
                    input(type="text" className="form-control" id="username" placeholder="Username" required)
                    div(className="invalid-feedback")
                        Your username is required
            div(className="mb-3")
                label(for="email") Email
                div(className="input-group")
                    input(type="email" className="form-control" id="email" placeholder="EndlessHorizon@example.com" required)
                    div(className="invalid-feedback")
                        Your email is required
            div(className="mb-3")
                label(for="password") Password
                div(className="input-group")
                    input(type="password" className="form-control" id="password" placeholder="Insert Password Senpai" required)
                    div(className="invalid-feedback")
                        Your password is required
            div(className="mb-3")
                label(for="passwordconfirm") Password Confirm
                div(className="input-group")
                    input(type="password" className="form-control" id="passwordconfirm" placeholder="Hint Hint *****" required)
                    div(className="invalid-feedback")
                        Your password does not match
            div(className="mb-3")
                label(for="address") Address
                div(className="input-group")
                    input(type="text" className="form-control" id="address" placeholder="1 Endless Horizon Avenue" required)
                    div(className="invalid-feedback")
                        Your email is required
            div(className="mb-3")
                label(for="dob")
                div(className="input-group")
                    input(type="date" className="form-control" id="dob" placeholder="I is Born!" required)
                    div(className="invalid-feedback")
                        Your Date of Birth is required
            div(className="mb-3")
                label(for="gender") Gender
                div(className="custom-control radio pad-zero")
                    label(className="custom-cotrol-label" for="male")
                        input(type="radio" className="" id="male" name="gender" required)
                        Male
                div(className="custom-control radio pad-zero")
                    label(className="custom-cotrol-label" for="female")
                        input(type="radio" className="" id="female" name="gender" required)
                        Female
            button(className="btn btn-primary btn-lg btn-block" type="submit")
                Register