.displayBody {
    position: relative;
    left: 25vw;
    width: 50vw;
    color: white;
}
.leftBox {
    color: darkslategrey;
    margin-left: 15px;
    padding-left: 5px;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    height: 80vh;
    width: 20vw;
    position: absolute;
}
.chat {
    margin-left: 10px;
}
.chat:hover {
    cursor: pointer;
}
.username {
    margin-bottom: 0px;
}
.latestChat {
    margin-top: 0px;
    margin-left: 5px;
}
.sent {
    width: 80%;
    float: right;
    text-align: right;
    background: pink;
    color: purple;
    padding-right: 5px;
    height: 1.5rem;
    border-radius: 5px;
    font-family: sans-serif;
}
.received {
    width: 80%;
    float: left;
    text-align: left;
    background: purple;
    color: pink;
    padding-left: 5px;
    height: 1.5rem;
    border-radius: 5px;
    font-family: sans-serif;
}
.chatForm {
    width: 100%;
}
.chatInput {
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    font-family: sans-serif;
}
.chatSubmit {
    padding: 5px;
    border-radius: 10px;
    outline: none;
    margin-left: 5%;
    width: 10%;
    font-family: sans-serif;
    font-weight: bold;
}
.chatDiv {
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.chat {
    margin-left: 10px;
}
.message {
    overflow-wrap: break-word;
    height: auto;
    padding-bottom: 5px;
}