body {
    background-color: black !important;
    background-image: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/375200/672c92c870c32250550ff9ee6d1d2aa9fdfd01cb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.log-flex {
    display: flex;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.edit-form-signup {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
}

.search-form-signup {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}

.pad-zero {
    padding-left: 0;
}

.carousel-caption {
    position: relative;
}

.carousel {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.go-right {
    margin-left: 5px;
}

.go-away {
    margin-right: 10px;
}

.drop-panties {
    margin-top: 15px !important;
}

.margin-zero {
    margin: 0;
}

.profile-image {
    width: 500px;
    height: 700px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

.search-image {
    width: 350px;
    height: 400px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

.l-search-image {
    width: 350px;
    height: 400px;
    object-fit: contain;
    /* float: left; */
}

.r-search-image {
    width: 350px;
    height: 400px;
    object-fit: contain;
    /* float: left; */
}

.col-lg-4 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.cl-white {
    color: white;
}

.cl-grey {
    color: rgb(140, 140, 140);
}

/* chat css */

.chat-flex {
    display: flex;
    justify-content: space-around;
}

.chatmid-flex {
    display: flex;
    align-items: center;
}