.log-flex {
    display: flex;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}

.pad-zero {
    padding-left: 0;
}

.carousel-caption {
    position: relative;
}

.profile-image {
    width: 500px;
    height: 700px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: black !important;
}

.carousel {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}